<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>
<table>
    <tr>
        <th>PK</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.pk }}</td>
        <td>
            <a href="{% url 'product-details' product.pk %}">
                {{ product.name }}
            </a>
        </td>
        <td>{{ product.price }}</td>
        <td>{{ product.category.name }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'product-create' %}">Add product</a>

</body>
</html>